fastapi
uvicorn
yt-dlp
python-multipart
faster-whisper #Win
psutil
deep-translator
openai
python-dotenv
google-generativeai
deepl
edge-tts
piper-tts
librosa
numpy
soundfile
google-api-python-client
google-auth-oauthlib
google-auth
imageio-ffmpeg
ffmpeg-python
mlx-whisper
